body{
background-color: rgb(99, 194, 162);
text-align: center;
padding-top: 180px;
color: rgb(108, 10, 10);
font-size: x-large;
font-family: fantasy;
}
button{

    background-color: rgb(0, 255, 166);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(93, 1, 179);
    font-style: italic;
}
